body{
    font-family: 'Shantell Sans', cursive;
    
}
.flexible-container{
    display: flex;
    padding-left: 2%;
    margin-bottom: 100px;
}


.food-network{
    width: 50%;
}
.food-network img{
    width: 80%;
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
.link-btn{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    border-radius: 20px;
}
.link-btn a{
    margin-top: 50px;
}
.about{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    height: 375px;
    padding-top: 60px ;
}
.about-item{
    width: 50%;
}
.about-content{
   margin-left: 0;
   margin-top: 5%;
}
.about-image img{
    width: 40%;
    margin-left: 20%;
}
.recipies{
    width: 50%;
    text-align: center;
    margin-left: 25%;
}
.recipie-item{
    margin-left: 3%;
    margin-right: 3%;
   
}
.recipie-title{
    width: 50%;
    /* box-shadow: 10px 10px 40px white; */
    margin-left: 2%;
    margin-right: 2%;
    background-color: whitesmoke;
    padding: 2%;
    border-radius: 10px;
}
.recipie-title h2{
    font-weight: bold;
}
.recipie-title img{
    width: 100%;
    border-radius: 10px;
}
.follower-section{
    background-color: whitesmoke;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
}
.follower{
    margin-left: 8%;
    margin-right: 8%;
    text-align: center;
}
footer{
    background-color: rgb(33, 29, 29);
    height: 200px;
    color: gainsboro;
    text-align: center;
   
}
.footer-content{
   padding-top: 3%;
}